div(ng-controller='StoreMapperCtrl')
    div#map_canvas

    form.form-inline.search
        input.btn(type='button', name='Map Search', value='Map Search', ng-click='showAddressBar = !showAddressBar')
        span(ng-show='showAddressBar')
            input#search_address(type='text', placeholder='Location Address', ng-model='address')
            input.btn.btn-primary(type='button',value='Search', ng-click='setMapAtAddress()')

    div.storeBar(ng-show='showStoreBar')
        div.storeBarSelection.form-inline(ng-repeat='store in stores')
            input.checkbox(type='checkbox', ng-model='store.showOverlay', ng-click='updateOverlay($index)')
            input(type='text', ng-model='store.name', placeholder="Store Name")
            img.delete(ng-src='/img/delete.png', ng-click='deleteStore($index)')

    input.btn.storeBarBtn(type='button', name='Store Loc', value='Locations', ng-click='showStoreBar = !showStoreBar')
