!!!
html(ng-app="myApp")
    head
        meta(charset='utf8')
        base(href='/')
        title(ng-bind-template='Malltip: Store Mapper')
        link(rel='stylesheet', href='/css/app.css')
        link(rel='stylesheet', href='/css/angular-ui.min.css')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
    body
        block body