/* app css stylesheet */
#map_canvas{
    position: absolute;
    width:100%;
    height:100%;
}

body{
    margin:0;
    padding:0;
}

.search{
    position: fixed;
    bottom:5px;
    left:5px;
    display:inline;
    height: 10px;
}

.search input,
.storeBar input{
    margin:0px 2px;
}

.storeBarBtn{
    position: fixed;
    bottom: 5px;
    right: 5px;
}

.storeBar{
    position:fixed;
    color:white;
    background: #a9a9a9;
    text-align: center;
    border:1px solid black;

    -moz-border-radius: 5px;
    border-radius: 5px;

    right:5px;
    top:5px;
    bottom:40px;
    width:400px;

    overflow-y: scroll;
}

.storeBarSelection{
    margin-top:5px;
    padding:2px;

    background: white;
    color:black;

    width:380px;
    margin-left: auto;
    margin-right: auto;

    -moz-border-radius: 5px;
    border-radius: 5px;
}

.highlight{
    background-color:yellow;
}

.delete{
    width:25px;
}

.store-search{
    margin-top:2px;
}

#title{
    font-weight: bold;
    font-size: large;
    position: absolute;
    top:5px;
    left:70px;
    text-shadow: 0 0 0.2em #65acff, 0 0 0.2em #65acff
}